[color]
        ui = true
[user]
        name = Fendo181
        email = fedno181git@gmail.com
[alias]
        a = add
        cm = commit
        cma = commit --amend
        st = status
        ss = status -s
        sh = show
        fe = fetch
        me = merge
        p  = push
        br = branch
        ch = checkout
        df = diff
        d1 = diff HEAD~
        d2 = diff HEAD~2
        d3 = diff HEAD~3
        #log graph カスタマイズ
        glog = log --graph --branches --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset'
        #simple graph ver
        slog = log --graph --date=iso --pretty=format:"[%ad] %h %an : %s" 
[core]
    editor = vim -c \"set fenc=utf-8\"
[push]
    default = matching
